.Stations {
  background-color: #f5f5f5;
  /* margin: -0.5px; */
  padding-top: 1px;
  padding-bottom: 1px;
  height: 345px;
  width: 272px;
  overflow: auto;
  scrollbar-color: #bfc4ce #dadbe2 !important;
  scrollbar-width: thin !important;
}

.stationArray {
  margin-left: -34px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.addStationCover {
  background-color: #f5f5f5;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 4px 0px 4px 0px;
}

.textBeforeStation {
  text-align: center;
  direction: rtl;
  height: 175px;
  background: transparent 0% 0% no-repeat padding-box;
  /* width: 80%; */
  padding: 38px;
  padding-top: 69px;
}

.Station:focus {
  background: linear-gradient(90deg, #fffbf7 0, #efe3d6);
  transition: 0.4s;
}

.Station:hover {
  background-color: #fbfbfb;
}

.TitleStation {
  background: #cc0127;
  color: white;
  height: 48px;
  border-radius: 4px 4px 0px 0px;
}

.force-overflow {
  min-height: 450px;
}

.Stations::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: #dadbe2;
  border-radius: 10px;
}

.Stations::-webkit-scrollbar {
  width: 10px;
}

.Stations::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bfc4ce;
  border: 1px solid rgb(235, 235, 235);
}
