.statusRTL {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.textStatusRTL {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  right: 10px;
  font-family: "Gotham Black", sans-serif;
  font-size: medium;
}

.contentStatusRTL {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-right: 15px;
}
