.Places {
  padding-top: 1px;
  padding-bottom: 1px;
  height: 100px;
  text-align: right;
  overflow: auto;
  direction: rtl;
  padding-right: 22px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.Places.english {
  padding-left: 40px;
  direction: ltr;
}

.selectPlace {
  width: 272px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px black solid;
}

.disabledWorker {
  pointer-events: none;
  opacity: 0.4;
}

.routs {
  background-color: rgb(245 245 245);
  /* margin: -0.5px; */
  padding-top: 1px;
  padding-bottom: 1px;
  height: 345px;
  overflow: auto;
  width: 272px;
  scrollbar-color: #bfc4ce #dadbe2 !important;
  scrollbar-width: thin !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.text {
  font: normal normal bold 26px/34px Assistant;
  /* color: #505050; */
}

.MyTitle {
  padding-right: 4%;
  height: 48px;
  padding-right: 4%;
  font: normal normal bold 26px/34px Assistant;
  justify-content: right;
  margin: 0;
  align-items: center;
  display: flex;
}

.MyTitle.english {
  justify-content: left;
  padding-left: 15px;
}

.eyeIcon {
  width: 66px;
  height: 24px;
  background: transparent url('../../Pictures/ic_duplicate.svg') 0% 0% no-repeat
    padding-box;
  opacity: 1;
  position: relative;
  top: 2px;
  right: 15px;
}

.threeDotsVertical {
  width: 352px;
  opacity: 1;
  margin-left: -181px;
  margin-top: 15px;
}

.threeDotsVerticalEng {
  width: 25px;
  height: 25px;
  display: grid;
  align-content: center;
}

.threeDotsVerticalEng:hover + .ModalIcons {
  display: block;
}

.threeDotsVerticalTasks {
  width: 25px;
  height: 25px;
  align-self: center;
}

.threeDotsVerticalEngStation {
  width: 274px;
  opacity: 1;
  margin-right: -124px;
  margin-top: 15px;
}

.addPlaceCover {
  background-color: #f5f5f5;
  /* margin: -0.5px; */
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 4px 0px 4px 0px;
}

.mainRectangles {
  display: flex;
  /* justify-content: end; */
  /* padding-right: 40px; */
  margin-right: 20px;
  padding-left: 40px;
  flex-direction: row-reverse;
  gap: 1%;
  margin-top: 20px;
}

.mainRectangles.english {
  flex-direction: revert;
  justify-content: start;
}

@media only screen and (max-width: 600px) {
  .Board {
    position: unset !important;
  }

  .Planner {
    overflow-x: scroll;
    height: fit-content;
  }

  .mainRectangles {
    overflow-x: scroll;
  }
}

.Cover_Places {
  /* flex: 1 1 auto; */
  /* margin: 0 4px; */
  min-height: 0;
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
  /* padding: 0 4px; */
  /* max-width: 30%; */
  z-index: 1;
}

.buttons {
  background: #fff 0 0 no-repeat padding-box;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  box-shadow: 0 2px 2px #00000080;
  display: flex;
  height: 59px;
  justify-content: space-between;
  /* margin: 13px 13px 13px 23px; */
  padding: 15px;
  width: 225px;
  align-items: center;
}

.buttons.english {
  margin-left: 56px;
}

.AddButton {
  height: 56px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 10px #00000033;
  border: 2px dashed #9b9b9b;
  border-radius: 8px;
  opacity: 1;
  width: 236px;
  position: relative;
  left: 20px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.plus {
  width: 93px;
  height: 24px;
  color: #9b9b9b;
  opacity: 1;
  align-self: center;
}

.Place:hover {
  background-color: #fbfbfb;
}

.AddButton:hover {
  background-color: #fbfbfb;
}

.TitlePlacesCover {
  height: 48px;
  border-radius: 4px 4px 0px 0px;
  /* opacity: 1;
  margin-bottom: 17px; */
  /* width: 272px; */
  background: #256fa1;
  color: white;
}

.name_of_site_title {
  color: #7a78b7;
  /* font-size: 23px; */
}

h3 {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.dot {
  top: 524px;
  left: 1736px;
  width: 14px;
  height: 14px;
  background: black;
  opacity: 1;
  border-radius: 50%;
}

.nameOfButton {
  width: fit-content;
  font: normal normal bold 15px/20px Assistant;
  letter-spacing: 0px;
  color: #505050;
  opacity: 1;
  text-align: end;
  /* align-self: center; */
  justify-content: right;
  border: 0;
  background-color: transparent;
  margin: 0;
  margin-right: 10px;
}

.loading {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.search {
  text-align: center;
  padding: 14px 0px 14px 0px;
}

.searchButton {
  width: 90%;
  height: 29px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000080;
  border-radius: 21px;
  border: #dde2fa;
  /* margin-right: 19px; */
  background-image: url('../../Pictures/Search.svg');
  background-position: 202px 5px;
  padding: 12px 50px 12px 40px;
  font-size: 12px;
}

.force-overflow {
  min-height: 450px;
}

.Places::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: #dadbe2;
  border-radius: 10px;
}

.Places::-webkit-scrollbar {
  width: 10px;
}

.MyTitle .border {
  display: inline-block;
  background-color: #111;
  color: #fff;
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.Places::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bfc4ce;
  border: 1px solid rgb(235, 235, 235);
}

.routs::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: #dadbe2;
  border-radius: 10px;
}

.routs::-webkit-scrollbar {
  width: 10px;
}

.routs::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bfc4ce;
  border: 1px solid rgb(235, 235, 235);
}
.topButtons {
  display: flex;
  gap: 2%;
}
@media (max-width: 1200px) {
  .Cover_Places {
    width: 22%;
  }
  .Cover_Stations {
    width: 22%;
  }
  .Cover_Tasks {
    width: 22%;
  }
  .TasksCover {
    width: 100% !important;
    height: 40vh !important;
  }
  .buttons {
    width: 90%;
  }

  .routs {
    width: 100%;
    height: 40vh;
  }
  .Stations {
    width: 100% !important;
    height: 40vh !important;
  }
  .addTaskCover {
    text-align: center;
    width: 100%;
  }
  .AddButton {
    width: 90%;
    left: unset;
  }
  .addStationCover {
    text-align: center;
  }
  .addPlaceCover {
    text-align: center;
  }
  .draggableItems {
    width: 100%;
    text-align: -webkit-center;
  }
  .textBeforeStation {
    width: 100%;
    background-size: 100% !important;
    background-position: center !important;
    padding-top: 50px !important;
  }
  .Board {
    width: 25% !important;
  }

  .MyTasks {
    width: 100% !important;
    height: 60vh !important;
  }

  .my_Buttons_icons {
    width: 100% !important;
  }

  .txt {
    width: 100% !important;
  }
  .kavT {
    left: 202px !important;
  }

  .nameStationBoard {
    /* width: 100%; */
    text-align-last: right !important;
  }

  .kavTop {
    left: 187px !important;
  }

  .kavTask2 {
    left: 9px !important;
  }

  .kavTaskTop {
    left: -17px !important;
    width: 25px !important;
  }

  .kav {
    left: 210px !important;
  }
}
