.infoTableRTL {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin-right: 260px; */
}

.workerNameTableRTL {
  margin-left: 40px;
  font-size: 18px;
  font-weight: bold;
}

.workerRouteTableRTL {
  font-size: 18px;
  font-weight: bold;
}
