.shift-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.shift-color-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}
